// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #2f5432;
$secondary: #302528;
$accent: #8c6e5f;

$dark: #333333;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$separator-color: $accent;
$separator-dark-color: $accent;

$body-line-height: 1;
$button-line-height: 1;
$h1: (
  size: 3rem,
  line-height: 3rem,
  letter-spacing: -0.01562em,
  weight: normal,
);
$h2: (
  size: 2.125rem,
  line-height: 2.125rem,
  letter-spacing: -0.00833em,
  weight: normal,
);
$h3: (
  size: 1.5rem,
  line-height: 1.5rem,
  letter-spacing: normal,
  weight: normal,
);
$h4: (
  size: 1.25rem,
  line-height: 1.25rem,
  letter-spacing: 0.00735em,
  weight: normal,
);
$h5: (
  size: 1rem,
  line-height: 1rem,
  letter-spacing: normal,
  weight: normal,
);
$h6: (
  size: 0.85rem,
  line-height: 0.85rem,
  letter-spacing: 0.0125em,
  weight: normal,
);
$subtitle1: (
  size: 1rem,
  line-height: 1rem,
  letter-spacing: 0.00937em,
  weight: normal,
);
$subtitle2: (
  size: 0.875rem,
  line-height: 0.875rem,
  letter-spacing: 0.00714em,
  weight: normal,
);
$body1: (
  size: 1rem,
  line-height: 1rem,
  letter-spacing: 0.03125em,
  weight: normal,
);
$body2: (
  size: 0.875rem,
  line-height: 0.875rem,
  letter-spacing: 0.01786em,
  weight: normal,
);
$overline: (
  size: 0.75rem,
  line-height: 2rem,
  letter-spacing: 0.16667em,
  weight: normal,
);
$caption: (
  size: 0.75rem,
  line-height: 1.25rem,
  letter-spacing: 0.03333em,
  weight: normal,
);
